<h2>Employee Detail</h2>

<input type="text" placeholder="Add Employee" [(ngModel)]="name" (keyup.enter)="addEmployee()" />

<table mdbTable>
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td><input type="text" value="{{employee.name | uppercase}}" #name /></td>
      <td>
        <button type="button" mdbBtn color="info" mdbWavesEffect (click)="deleteEmployee(employee.id)">Delete</button>
        <button type="button" mdbBtn color="warning" mdbWavesEffect (click)="update(employee.id,name.value)">Update</button>
      </td>
    </tr>
  </tbody>
</table>