<h2>Employee Detail</h2>

<table mdbTable>
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let employee of employees" >
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td><button type="button" mdbBtn color="warning" mdbWavesEffect (click)="deleteEmployee($event,employee.id)">Delete</button></td>
    </tr>
  </tbody>
</table>