.homeWrapper{
    text-align: center;
    width:640px;
    margin:50px auto;
    .gender{
        width:100px;
        cursor: pointer;
    }
    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
      }
      
      .ng-invalid:not(form)  {
        border-left: 5px solid #a94442; /* red */
      }
    
}